body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.love-calculator-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Adjust the width as needed */
}

.form-container input[type="text"] {
    padding: 10px;
    margin: 10px 0; /* Ensure margin for top and bottom */
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px); /* Adjust input width to fit container */
}

.button-container {
    margin-top: 20px; /* Space above the button */
}

.form-container button {
    padding: 10px 20px;
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Make the button full width */
}

.form-container button:hover {
    background-color: #ff6b81;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
